@import "./variables.scss";
@import "./base.scss";

body {
	font-family: $font-primary;
	margin: 0;
}

.max-width {
	max-width: 1280px;
	margin: 0 auto;
}

#menu-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.section-nav-bar {
	background: $bg-blue;

	.nav-bar {
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		overflow: hidden;

		.nav-links {
			display: none;

			.nav {
				padding: 0 10px;
				margin: 0 10px;

				.link {
					font-weight: bold;
					color: white;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.login {
			display: flex;
			align-items: center;

			.menu {
				display: block;
				cursor: pointer;
				margin-left: 20px;
			}
		}

		@media screen and (min-width: 1024px) {
			.nav-links {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
			}

			.login {
				.menu {
					display: none;
				}
			}
		}
	}

	.right-menu {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1000;
		top: 0;
		right: 0;
		overflow-x: hidden;
		transition: 0.5s;
		background: white;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		overflow-y: scroll;

		.menu-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
		}

		hr {
			margin: 20px 20px 0;
		}

		.download {
			margin: 20px 0;
			text-align: center;
		}

		.nav-links {
			padding: 20px;

			.nav {
				font-size: $font-sm;
				padding: 10px;

				.link {
					font-weight: bold;
					color: $text-black;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.section-header {
	background: $bg-blue;
	position: relative;

	.header {
		z-index: 1;
		color: white;
		margin: 0 auto;
		padding: 20px;
		max-width: 80%;
		text-align: center;
		position: relative;		

		.title {
			font-size: $font-4xl;
			font-weight: 800;
			font-family: $font-headline;
		}

		@media screen and (min-width: 768px) {
			padding: 100px;

			.title {
				font-size: $font-5xl;
			}
		}

		.sub-title {
			margin-top: 40px;
			font-size: $font-md;
			line-height: 1.625;
		}

		.buttons {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.btn {
				width: fit-content;
			}

			.btn-black {
				margin-top: 20px;
			}
		}

		@media screen and (min-width: 768px) {
			.buttons {
				flex-direction: row;

				.btn-black {
					margin-top: 0;
					margin-left: 20px;
				}
			}
		}
	}

	.backgrounds {
		position: relative;
		overflow: hidden;

		.cloud {
			display: none;
		}

		.bg-left {
			display: none;
		}
	}

	@media screen and (min-width: 768px) {
		.backgrounds {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 0;
			overflow: hidden;

			.cloud {
				display: block;
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			.bg-left {
				display: none;
				position: absolute;
				bottom: 0;
				left: 0;

				@media screen and (min-width: 1024px) {
					display: block;
					left: -200px;
				}
			}

			.bg-right {
				position: absolute;
				right: -150px;
				bottom: 0;
			}
		}
	}
}

.section-voice-chat,
.section-chat-room {
	background: $bg-off-white;
}

.img-desc-box {
	padding: 80px 40px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-flow: row;

	&.rev {
		.image {
			grid-row: 1;
		}

		.desc {
			grid-row: 2;
		}
	}

	.image {
		align-self: center;
		img {
			width: 100%;
			object-fit: contain;
		}
	}

	.desc {
		justify-self: center;
		color: $text-black;

		.title {			
			font-family: $font-headline;
			font-size: $font-3xl;
			font-weight: 700;
		}

		.content {
			line-height: 1.5;
			font-size: $font-md;
			margin-top: 20px;
		}
	}
}

@media (min-width: 768px) {
	.img-desc-box {
		padding: 80px;
		gap: 80px;

		.desc {
			.title {
				margin-top: 40px;
				font-size: $font-4xl;
			}

			.content {
				margin-top: 40px;
			}
		}

		&.rev {
			.image {
				grid-row: 1;
			}
	
			.desc {
				grid-row: 1;
			}
		}

		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.img-desc-box {
		grid-template-columns: repeat(3, 1fr);

		.image {
			grid-column: span 2;
		}
	}
}

.section-chat-room {
	.img-desc-box {
		grid-template-columns: repeat(1, 1fr);

		.title {
			line-height: 1;
			font-size: $font-4xl;
			font-weight: 800;
		}
	}

	.start-journey {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 40px 80px;
		position: relative;

		.stars {
			position: absolute;
			top: 0;
			overflow: hidden;
			width: 100%;
		}

		.title {
			margin-top: 25px;
			font-family: $font-headline;
			font-size: $font-3xl;
			font-weight: 700;
		}

		.button {
			margin-top: 40px;
		}

	}
}
