body {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

$brand-bg: #404eed;
$brand: #5865f2;
$off-white: #f6f6f6;

$btn-color-hover: $brand;
$bg-blue: $brand-bg;
$bg-off-white: $off-white;

.btn {
  color: black;
  background: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background: saturate($color: white, $amount: 10%);
    color: $btn-color-hover;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  }
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.section-nav-bar {
  background: $bg-blue;

  .nav-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;

    .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      .nav {
        padding: 0 10px;
        margin: 0 10px;

        .link {
          font-weight: bold;
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.section-header {
  background: $bg-blue;
  position: relative;

  .header {
    z-index: 1;
    color: white;
    margin: 0 auto;
    padding: 100px;
    max-width: 80%;
    text-align: center;
    position: relative;

    .title {
      font-size: 4rem;
      font-weight: 800;
    }

    .sub-title {
      margin-top: 40px;
      font-size: 1.3rem;
      line-height: 1.625;
    }

    .buttons {
      margin-top: 40px;
    }
  }  

  .backgrounds {
    position: relative;

    .cloud {
      display: none;
    }

    .bg-left {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .backgrounds {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      overflow: hidden;

      .cloud {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      .bg-left {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
  
        @media screen and (min-width: 1024px) {
          display: block;
          left: -200px;
        }
      }

      .bg-right {
        position: absolute;
        right: -150px;
        bottom: 0;
      }
    }
  }
}
