// font family variables
$font-primary: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-headline: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;

// color variables
$brand-bg: #404eed;
$brand: #5865f2;
$off-white: #f6f6f6;

$btn-color-hover: $brand;
$bg-blue: $brand-bg;
$bg-off-white: $off-white;

// font size variables
$font-n: 1rem;
$font-sm: 0.875rem;
$font-xs: 0.75rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-2xl: 1.75rem;
$font-3xl: 2rem;
$font-4xl: 3rem;
$font-5xl: 4rem;